<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background-color: #3636ff"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="">
      <img src="./assets/logo.png" alt="Logo" width="120" height="100"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-4 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Inglés</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Francés</a>
        </li>
      </ul>
      <span class="navbar-text"
        >"«Aprender otro idioma es como convertirse en otra persona», Haruki
        Murakami"
      </span>
    </div>
  </div>
</nav>
